p {
    font-family: 'VT323', monospace;
    color: gray;
}

a {
    text-decoration: none;
    color: gray;
    transition: color 0.3s ease;
}

a:hover {
    color: brown;
}

.game-window{
    width: 70vw;
    margin: auto;
}

.sprites {
    height: 20vh;
    margin-top: 50vh;
    display: flex;
    align-items: flex-end;
}

.menu {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.jump {
    animation: jump 0.3s linear;
}

.hr-pixel-art {
    display: flex;
    justify-content: space-between;
    height: 1vh;
    margin: 0;
    padding: 0;
}

.pixel {
    width: 0.5vw;
    height: 100%;
}

#menu-image {
    height: 20vh;
    width: 10vw;
}

#player, #cactus {
    height: 100%;
}

#player {
    height: 80%;
    width: 7vw;
    background-image: url(img/player.gif);
    background-size: 100% 100%;
    position: relative;
}

#cactus {
    height: 60%;
    width: 4vw;
    background-image: url(img/cactus.png);
    background-size: 100% 100%;
    animation: cactusMov 1.5s infinite linear;
    position: relative;
}


#cactus.paused {
    animation-play-state: paused;
}

@keyframes cactusMov {
    0%{
        left: 95%;
    }
    100%{
        left: 0%;
    }
}

@keyframes jump {
    0% {
        top: 0vh;
    }
    50% {
        top: -30vh;
    }
    100% {
        top: 0vh;
    }
}