.game {
    width: 1000px;
    height: 500px;
    margin: auto;
}

#ground {
    width: 1000px;
}

#infoText {
    position: relative;
    top: 420px;
}

#player {
    width: 50px;
    height: 50px;
    background-image: url(img/player.png);
    background-size: 50px 50px;
    position: relative;
    top: 450px;
}

#cactus {
    width: 50px;
    height: 50px;
    background-image: url(img/cactus.png);
    background-size: 50px 50px;
    position: relative;
    top: 400px;
    left: 1000px;
    animation: cactusMov 1.5s infinite linear;
}

#cactus.paused {
    animation-play-state: paused;
}

@keyframes cactusMov {
    0%{
        left: 1000px;
    }
    100%{
        left: -20px;
    }
}

.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% {
        top: 450px;
    }
    50% {
        top: 300px;
    }
    100% {
        top: 450px;
    }
}